<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Editing Dojo</title>
  </head>
  <body>
    <h1>Editing <%= @dojos.branch %></h1>
    <% if @errors %>
      <% @errors.each do |error| %>
      <p><%= error %></p>
      <%end%>
    <%end%>
    <form class="" action="/dojos/<%= @dojos.id %>" method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="hidden" name="_method" value="patch">
      <label for="">Branch: </label>
      <input type="text" name="dojo[branch]">
      <label for="">Street: </label>
      <input type="text" name="dojo[street]">
      <label for="">City: </label>
      <input type="text" name="dojo[city]">
      <label for="">State: </label>
      <input type="text" name="dojo[state]">
      <input type="submit" name="" value="Update">
    </form>
    <a href="/dojos">Back</a>
  </body>
</html>
